In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.DataFrame(pd.read_csv("../../data/raw/understat.com.csv"))

In [4]:
df = df.drop(columns = ['wins', 'draws', 'loses','scored', 'missed','npxG', 'xG_diff', 'xGA_diff', 'npxGA', 'npxGD', 'xpts', 'xpts_diff'])

In [20]:
df = df.rename(columns={'Unnamed: 0': 'League', 'Unnamed: 1':'Year'})
df

,League,Year,position,team,matches,pts,xG,xGA,ppda_coef,oppda_coef,deep,deep_allowed
0,La_liga,2014,1,Barcelona,38,94,102.980152,28.444293,5.683535,16.367593,489,114
1,La_liga,2014,2,Real Madrid,38,92,95.766243,42.607198,10.209085,12.929510,351,153
2,La_liga,2014,3,Atletico Madrid,38,78,57.047670,29.069107,8.982028,9.237091,197,123
3,La_liga,2014,4,Valencia,38,77,55.062500,39.392572,8.709827,7.870225,203,172
4,La_liga,2014,5,Sevilla,38,76,69.526624,47.862742,8.276148,9.477805,305,168
...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ligue_1,2019,16,Dijon,28,30,27.378050,39.300382,14.308293,9.703021,111,176
584,Ligue_1,2019,17,Saint-Etienne,28,30,29.651493,37.725643,10.718417,10.496213,93,133
585,Ligue_1,2019,18,Nimes,28,27,30.193755,40.473400,12.457197,9.054791,109,159
586,Ligue_1,2019,19,Amiens,28,23,25.619869,38.426209,12.449507,9.917285,101,148
587,Ligue_1,2019,20,Toulouse,28,13,31.294048,48.275034,14.032994,10.193535,115,178

In [18]:
df = df.drop(df[df['League']=='RFPL'].index, axis =0)

In [19]:
df_topTeams = df[df['position']==1]
df_topTeams

,League,Year,position,team,matches,pts,xG,xGA,ppda_coef,oppda_coef,deep,deep_allowed
0,La_liga,2014,1,Barcelona,38,94,102.980152,28.444293,5.683535,16.367593,489,114
20,La_liga,2015,1,Barcelona,38,91,113.598270,34.029090,6.012152,15.064390,570,163
40,La_liga,2016,1,Real Madrid,38,93,90.866410,36.862559,9.742439,13.407533,333,173
60,La_liga,2017,1,Barcelona,38,93,90.486752,41.620820,9.109883,13.939373,528,188
80,La_liga,2018,1,Barcelona,38,87,83.279534,44.930950,9.015264,16.404885,417,171
100,La_liga,2019,1,Real Madrid,38,87,72.157218,33.146266,9.262202,14.476897,334,127
120,EPL,2014,1,Chelsea,38,87,68.643320,31.524344,10.942027,13.419520,407,171
140,EPL,2015,1,Leicester,38,81,68.416034,45.019954,10.099471,8.602384,217,275
160,EPL,2016,1,Chelsea,38,93,61.796887,28.618919,11.768276,11.874986,435,150
180,EPL,2017,1,Manchester City,38,100,91.434145,24.511918,6.707812,28.897068,541,96
200,EPL,2018,1,Manchester City,38,98,93.720559,25.732604,8.526164,30.468113,582,135
220,EPL,2019,1,Liverpool,38,99,75.193370,39.572898,8.607605,24.738212,429,145
240,Bundesliga,2014,1,Bayern Munich,34,79,66.205745,21.938729,5.761476,25.022717,388,83
258,Bundesliga,2015,1,Bayern Munich,34,88,77.041497,20.794377,6.563205,23.119249,353,103
276,Bundesliga,2016,1,Bayern Munich,34,82,73.908589,27.042341,6.467688,21.219964,433,133
294,Bundesliga,2017,1,Bayern Munich,34,84,76.548905,30.637835,8.482019,22.416087,375,117
312,Bundesliga,2018,1,Bayern Munich,34,78,92.240857,27.412344,8.642573,30.236541,435,89
330,Bundesliga,2019,1,Bayern Munich,34,82,92.851562,36.471658,8.064508,21.020124,407,119
348,Serie_A,2014,1,Juventus,38,87,59.077044,29.129634,8.715008,13.017563,334,152
368,Serie_A,2015,1,Juventus,38,91,62.989649,22.998835,8.919363,10.944932,270,101
388,Serie_A,2016,1,Juventus,38,91,68.736204,23.597126,9.497838,13.003989,302,117
408,Serie_A,2017,1,Juventus,38,95,59.228735,28.577357,11.534032,15.573204,260,136
428,Serie_A,2018,1,Juventus,38,90,64.527180,35.032053,10.160174,13.964741,290,158
448,Serie_A,2019,1,Juventus,38,83,73.774528,40.996703,9.041600,15.611712,270,174
468,Ligue_1,2014,1,Paris Saint Germain,38,83,78.419930,28.240364,7.133794,16.841499,321,116
488,Ligue_1,2015,1,Paris Saint Germain,38,96,86.200951,24.365492,6.688799,20.325039,341,121
508,Ligue_1,2016,1,Monaco,38,95,76.036980,34.893628,9.587803,12.331291,226,139
528,Ligue_1,2017,1,Paris Saint Germain,38,93,89.924296,32.096711,8.232707,17.294541,478,118
548,Ligue_1,2018,1,Paris Saint Germain,38,91,95.344060,36.782405,7.785468,18.947672,459,132
568,Ligue_1,2019,1,Paris Saint Germain,27,68,76.419055,22.434996,7.460972,21.270465,324,100

In [15]:
df_LL= df_topTeams[df_topTeams['League']=='La_liga']
new_row = {'League': 'La_Liga', 'Year':'Average', 'position': 'NA', 'team': 'NA', 'matches': 38, 'pts': df_LL['pts'].mean(), 'xG':df_LL['xG'].mean(), 'xGA':df_LL['xGA'].mean(), 'ppda_coef':df_LL['ppda_coef'].mean(), 'oppda_coef':df_LL['oppda_coef'].mean(), 'deep':df_LL['deep'].mean(), 'deep_allowed':df_LL['deep_allowed'].mean()}
df_LL=df_LL.append(new_row,ignore_index=True)
df_LL

,League,Year,position,team,matches,pts,xG,xGA,ppda_coef,oppda_coef,deep,deep_allowed
0,La_liga,2014,1,Barcelona,38,94.000000,102.980152,28.444293,5.683535,16.367593,489.000000,114.0
1,La_liga,2015,1,Barcelona,38,91.000000,113.598270,34.029090,6.012152,15.064390,570.000000,163.0
2,La_liga,2016,1,Real Madrid,38,93.000000,90.866410,36.862559,9.742439,13.407533,333.000000,173.0
3,La_liga,2017,1,Barcelona,38,93.000000,90.486752,41.620820,9.109883,13.939373,528.000000,188.0
4,La_liga,2018,1,Barcelona,38,87.000000,83.279534,44.930950,9.015264,16.404885,417.000000,171.0
5,La_liga,2019,1,Real Madrid,38,87.000000,72.157218,33.146266,9.262202,14.476897,334.000000,127.0
6,La_Liga,Average,NA,NA,38,90.833333,92.228056,36.505663,8.137579,14.943445,445.166667,156.0

In [51]:
df_EPL= df_topTeams[df_topTeams['League']=='EPL']
new_row = {'League': 'EPL', 'Year': 'Average', 'position': 'NA', 'team': 'NA', 'matches': 38, 'pts': df_EPL['pts'].mean(), 'xG':df_EPL['xG'].mean(), 'xGA':df_EPL['xGA'].mean(), 'ppda_coef':df_EPL['ppda_coef'].mean(), 'oppda_coef':df_EPL['oppda_coef'].mean(), 'deep':df_EPL['deep'].mean(), 'deep_allowed':df_EPL['deep_allowed'].mean()}
df_EPL=df_EPL.append(new_row,ignore_index=True)
#plt.barh(df_EPL['Year'], df_EPL['xG'])
#print(type(df_EPL['Year'][6]))
#sns.countplot(y='Year', data=df_EPL)
df_EPL

,League,Year,position,team,matches,pts,xG,xGA,ppda_coef,oppda_coef,deep,deep_allowed
0,EPL,2014,1,Chelsea,38,87.0,68.643320,31.524344,10.942027,13.419520,407.000000,171.0
1,EPL,2015,1,Leicester,38,81.0,68.416034,45.019954,10.099471,8.602384,217.000000,275.0
2,EPL,2016,1,Chelsea,38,93.0,61.796887,28.618919,11.768276,11.874986,435.000000,150.0
3,EPL,2017,1,Manchester City,38,100.0,91.434145,24.511918,6.707812,28.897068,541.000000,96.0
4,EPL,2018,1,Manchester City,38,98.0,93.720559,25.732604,8.526164,30.468113,582.000000,135.0
5,EPL,2019,1,Liverpool,38,99.0,75.193370,39.572898,8.607605,24.738212,429.000000,145.0
6,EPL,Average,NA,NA,38,93.0,76.534052,32.496773,9.441893,19.666714,435.166667,162.0

In [ ]:
df_B= df_topTeams[df_topTeams['League']=='Bundesliga']
new_row = {'League': 'Bundesliga', 'Year':'Average', 'position': 'NA', 'team': 'NA', 'matches': 38, 'pts': df_B['pts'].mean(), 'xG':df_B['xG'].mean(), 'xGA':df_B['xGA'].mean(), 'ppda_coef':df_B['ppda_coef'].mean(), 'oppda_coef':df_B['oppda_coef'].mean(), 'deep':df_B['deep'].mean(), 'deep_allowed':df_B['deep_allowed'].mean()}
df_B=df_B.append(new_row,ignore_index=True)
df_B

In [ ]:
df_S= df_topTeams[df_topTeams['League']=='Serie_A']
new_row = {'League': 'Serie_A', 'Year':'Average', 'position': 'NA', 'team': 'NA', 'matches': 38, 'pts': df_S['pts'].mean(), 'xG':df_S['xG'].mean(), 'xGA':df_S['xGA'].mean(), 'ppda_coef':df_S['ppda_coef'].mean(), 'oppda_coef':df_S['oppda_coef'].mean(), 'deep':df_S['deep'].mean(), 'deep_allowed':df_S['deep_allowed'].mean()}
df_S=df_S.append(new_row,ignore_index=True)
df_S

In [ ]:
df_L= df_topTeams[df_topTeams['League']=='Ligue_1']
new_row = {'League': 'Ligue_1', 'Year':'Average', 'position': 'NA', 'team': 'NA', 'matches': 38, 'pts': df_L['pts'].mean(), 'xG':df_L['xG'].mean(), 'xGA':df_L['xGA'].mean(), 'ppda_coef':df_L['ppda_coef'].mean(), 'oppda_coef':df_L['oppda_coef'].mean(), 'deep':df_L['deep'].mean(), 'deep_allowed':df_L['deep_allowed'].mean()}
df_L=df_L.append(new_row,ignore_index=True)
df_L